<a href="https://colab.research.google.com/github/sotolee16/Experimento-de-dos-dados/blob/main/Uniforme_discreta_Lanzamiento_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Diccionarios

In [ ]:
d = {"Cesar": ["Masha", "Mila", "Sneg"],
     "Julio": [3, 10, 12],
     "Gal": [7.0, 5.0, 6.0]}

In [ ]:
type(d)

dict

In [ ]:
d.keys() #Son las llaves del diccionario

dict_keys(['Cesar', 'Julio', 'Gal'])

In [ ]:
d.values()

dict_values([['Masha', 'Mila', 'Sneg'], [3, 10, 12], [7.0, 5.0, 6.0]])

In [ ]:
d.items()

dict_items([('Cesar', ['Masha', 'Mila', 'Sneg']), ('Julio', [3, 10, 12]), ('Gal', [7.0, 5.0, 6.0])])

## Se lanzan dos dados

- $\Omega = \{1,2,3,4,5,6\}\times \{1,2,3,4,5,6 \}$
- $\mathcal{F}=p(\Omega)$.
- Para $\omega=(i,j)$ donde $i, j=1, \dots, 6$
$$\mathbb{P}(\{\omega\})=\frac{1}{36}.$$

----

## Vamos a definir a la siguiente variable aleatoria:
$S$ es la variable aleatoria que cuenta la suma de las caras de los dados.

$$S:\Omega \to R_{S}={2,3,4,5,6,7,8,9,10,11,12}$$

In [4]:
# Se importan las librerías necesarias
from itertools import product
from fractions import Fraction

In [5]:
#Definimos la función para poder calcular probabilidades
def P(A, Omega):
  P= Fraction(len(A), len(Omega))
  return P

In [6]:
# Generamos el evento cuando los dados sumen 2
S_2 = {(i,j)for i in range(1,7) for j in range(1,7) if i+j==2}
S_2

{(1, 1)}

In [7]:
# Mostramos todos los eventos posibles
L = [i for i in range(1,7)]
Omega  = set(product (L,  repeat =2))
Omega

{(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6)}

In [8]:
# Mostramos todos los eventos junto con la suma de los dados
S = {(i,j): i+j for i,j in Omega}
S

{(3, 4): 7,
 (4, 3): 7,
 (3, 1): 4,
 (5, 4): 9,
 (4, 6): 10,
 (5, 1): 6,
 (2, 2): 4,
 (1, 6): 7,
 (2, 5): 7,
 (1, 3): 4,
 (6, 2): 8,
 (6, 5): 11,
 (4, 2): 6,
 (4, 5): 9,
 (3, 3): 6,
 (5, 6): 11,
 (3, 6): 9,
 (5, 3): 8,
 (2, 4): 6,
 (1, 2): 3,
 (2, 1): 3,
 (1, 5): 6,
 (6, 1): 7,
 (6, 4): 10,
 (3, 2): 5,
 (4, 1): 5,
 (3, 5): 8,
 (5, 2): 7,
 (4, 4): 8,
 (5, 5): 10,
 (1, 1): 2,
 (1, 4): 5,
 (2, 3): 5,
 (2, 6): 8,
 (6, 6): 12,
 (6, 3): 9}

In [9]:
# Importamos la librería para dar formato de diccionarios
from collections import defaultdict

dS = defaultdict(set)
dS

defaultdict(set, {})

In [11]:
# Mostramos los eventos posibles dependiendo la suma
for l, v in S.items():
  dS[v].add(l)

dS

defaultdict(set,
            {7: {(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)},
             4: {(1, 3), (2, 2), (3, 1)},
             9: {(3, 6), (4, 5), (5, 4), (6, 3)},
             10: {(4, 6), (5, 5), (6, 4)},
             6: {(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)},
             8: {(2, 6), (3, 5), (4, 4), (5, 3), (6, 2)},
             11: {(5, 6), (6, 5)},
             3: {(1, 2), (2, 1)},
             5: {(1, 4), (2, 3), (3, 2), (4, 1)},
             2: {(1, 1)},
             12: {(6, 6)}})

In [14]:
# Agrupamos las sumas posibles de los dados con sus respectivas probabilidades
leyS = {k : P(A,Omega) for k, A in dS.items() }
leyS

{7: Fraction(1, 6),
 4: Fraction(1, 12),
 9: Fraction(1, 9),
 10: Fraction(1, 12),
 6: Fraction(5, 36),
 8: Fraction(5, 36),
 11: Fraction(1, 18),
 3: Fraction(1, 18),
 5: Fraction(1, 9),
 2: Fraction(1, 36),
 12: Fraction(1, 36)}

In [15]:
S

{(3, 4): 7,
 (4, 3): 7,
 (3, 1): 4,
 (5, 4): 9,
 (4, 6): 10,
 (5, 1): 6,
 (2, 2): 4,
 (1, 6): 7,
 (2, 5): 7,
 (1, 3): 4,
 (6, 2): 8,
 (6, 5): 11,
 (4, 2): 6,
 (4, 5): 9,
 (3, 3): 6,
 (5, 6): 11,
 (3, 6): 9,
 (5, 3): 8,
 (2, 4): 6,
 (1, 2): 3,
 (2, 1): 3,
 (1, 5): 6,
 (6, 1): 7,
 (6, 4): 10,
 (3, 2): 5,
 (4, 1): 5,
 (3, 5): 8,
 (5, 2): 7,
 (4, 4): 8,
 (5, 5): 10,
 (1, 1): 2,
 (1, 4): 5,
 (2, 3): 5,
 (2, 6): 8,
 (6, 6): 12,
 (6, 3): 9}

## Introducción a pandas.

In [16]:
# Importamos la librería pandas
import pandas as pd

In [17]:
# Generamos un dataframe ordenado con la suma de los dados y sus probabilidades
leyS = pd.Series(leyS)
leyS = leyS.sort_index()

leyS

2     1/36
3     1/18
4     1/12
5      1/9
6     5/36
7      1/6
8     5/36
9      1/9
10    1/12
11    1/18
12    1/36
dtype: object

### Ejercicios

1. Documenta tu colab.

2. Calcula la probabilidad de las siguientes variables aleatorias.
- La diferencia de las caras sea mayor a 1.
- La suma de las caras sea par.

3. Verifica en cada caso que,
$$\sum_{k \in R_x} \mathbb{P}(X=x)=1$$

4. Sube tu notebook a tu Github.

### Ejercicio: La diferencia de las caras sea mayor a 1

In [18]:
# Generar todos los eventos posibles
Omega_1 = {(i, j) for i in range (1, 7) for j in range (1, 7) if abs(i - j) >= 2}
Omega_1

{(1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 1),
 (3, 5),
 (3, 6),
 (4, 1),
 (4, 2),
 (4, 6),
 (5, 1),
 (5, 2),
 (5, 3),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4)}

In [19]:
# A todos los eventos le asociamos su suma de los dados
S1 = {(i, j): i + j for i, j in Omega_1}
S1

{(3, 1): 4,
 (4, 6): 10,
 (5, 1): 6,
 (1, 6): 7,
 (2, 5): 7,
 (1, 3): 4,
 (6, 2): 8,
 (4, 2): 6,
 (3, 6): 9,
 (5, 3): 8,
 (2, 4): 6,
 (1, 5): 6,
 (6, 1): 7,
 (6, 4): 10,
 (4, 1): 5,
 (3, 5): 8,
 (5, 2): 7,
 (1, 4): 5,
 (2, 6): 8,
 (6, 3): 9}

In [20]:
# Librería para dar formato al diccionario
from collections import defaultdict

dS1 = defaultdict(set)
dS1

defaultdict(set, {})

In [21]:
# Agrupamos los eventos por su suma de los dados
for l1, v1 in S1.items():
  dS1[v1].add(l1)

dS1

defaultdict(set,
            {4: {(1, 3), (3, 1)},
             10: {(4, 6), (6, 4)},
             6: {(1, 5), (2, 4), (4, 2), (5, 1)},
             7: {(1, 6), (2, 5), (5, 2), (6, 1)},
             8: {(2, 6), (3, 5), (5, 3), (6, 2)},
             9: {(3, 6), (6, 3)},
             5: {(1, 4), (4, 1)}})

In [23]:
# Ahora agrupamos las sumas de los dados con su probabilidad
leyS1 = {k : P(A, Omega_1) for k , A in dS1.items() }
leyS1

{4: Fraction(1, 10),
 10: Fraction(1, 10),
 6: Fraction(1, 5),
 7: Fraction(1, 5),
 8: Fraction(1, 5),
 9: Fraction(1, 10),
 5: Fraction(1, 10)}

In [24]:
# Importamos la librería pandas y generamos el Dataframe ordenado con sus sumas y probabilidades asociadas
import pandas as pd

leyS1 = pd.Series(leyS1)
leyS1 = leyS1.sort_index()
leyS1

4     1/10
5     1/10
6      1/5
7      1/5
8      1/5
9     1/10
10    1/10
dtype: object

### Ejercicio 2: La suma de las caras sea par

In [25]:
# Generarmos los eventos tales que la suma de las caras sea par
Omega_par = {(i, j) for i in range (1, 7) for j in range (1, 7) if ((i + j) % 2 == 0)}
Omega_par

{(1, 1),
 (1, 3),
 (1, 5),
 (2, 2),
 (2, 4),
 (2, 6),
 (3, 1),
 (3, 3),
 (3, 5),
 (4, 2),
 (4, 4),
 (4, 6),
 (5, 1),
 (5, 3),
 (5, 5),
 (6, 2),
 (6, 4),
 (6, 6)}

In [27]:
# A los eventos le asociamos la suma de estos
S2 = {(i, j): i + j for i, j in Omega_par}
S2

{(4, 4): 8,
 (2, 4): 6,
 (5, 5): 10,
 (6, 2): 8,
 (1, 5): 6,
 (3, 1): 4,
 (1, 1): 2,
 (4, 6): 10,
 (6, 6): 12,
 (5, 1): 6,
 (4, 2): 6,
 (6, 4): 10,
 (3, 3): 6,
 (2, 6): 8,
 (2, 2): 4,
 (5, 3): 8,
 (1, 3): 4,
 (3, 5): 8}

In [28]:
# Le damos formato al diccionario
from collections import defaultdict

dS2 = defaultdict(set)
dS2

defaultdict(set, {})

In [29]:
# Agrupamos los eventos posibles con la suma de los dados
for l2, v2 in S2.items():
  dS2[v2].add(l2)

dS2

defaultdict(set,
            {8: {(2, 6), (3, 5), (4, 4), (5, 3), (6, 2)},
             6: {(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)},
             10: {(4, 6), (5, 5), (6, 4)},
             4: {(1, 3), (2, 2), (3, 1)},
             2: {(1, 1)},
             12: {(6, 6)}})

In [30]:
# Ahora los agrupamos con su respectiva probabilidad
leyS2 = {k : P(A, Omega_par) for k , A in dS2.items() }
leyS2

{8: Fraction(5, 18),
 6: Fraction(5, 18),
 10: Fraction(1, 6),
 4: Fraction(1, 6),
 2: Fraction(1, 18),
 12: Fraction(1, 18)}

In [31]:
# Importamos la librería pandas y generamos el Dataframe ordenado con sus sumas y probabilidades asociadas
import pandas as pd
leyS2 = pd.Series(leyS2)
leyS2 = leyS2.sort_index()
leyS2

2     1/18
4      1/6
6     5/18
8     5/18
10     1/6
12    1/18
dtype: object